:root{
    --green:#9c27b0;
    --dark-color:#570066;
    --black:#111;
    --light-color:#666;
    --border:.5px solid rgba( 0, 0, 0 , .1);
    --border-hover:1px solid var(--black);
    --box-shaadow: 3px 1px 10px  var(--black);
}
*{
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}
.row{
    width: 90%;
    margin: 0 auto;
}
section{
    padding: 5px 10px;
}
.btn{
    margin-top: 5px;
    display: inline-block;
    border: var(--border);
    background: var(--green);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 9px 15px;
    border-radius:5px ;
    font-weight: 500;

}
.btn:hover{
    background: var(--dark-color);
}
.heading{
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}
.heading::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background: rgba( 0, 0, 0 , .1);
    z-index: -1;
}
.heading span{
    font-size: 15px;
    padding: 4px 8px;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

html{
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.header .header-1{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px 20px;
    align-items: center;
}
.header .header-1 .logo{
    font-size: 25px;
    font-weight: bolder;
    color: var(--black);
}
.header .header-1 .logo cart-outline{
    color: var(--green);
}
.header .header-1 .search-form{
    width: 250px;
    height: 35px;
    overflow: hidden;
    background-color: #fff;
    align-items: center;
    display: flex;
    border: var(--border);
    padding: 10px 7px;
    border-radius: 5px;
}
.header .header-1 .search-form input{
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    text-transform: none;
    color: var(--black);
}
.header .header-1 .search-form label #btn-search{
    font-size: 22px;
    padding-right: 5px;
    cursor: pointer;
    color: var(--black);
}
.header .header-1 .search-form label #btn-search:hover{
    color: var(--green);
}
.header .header-1 .icon a{
    color: var(--black);
    cursor: pointer;
    font-size: 22px;
    margin-left: 10px;
    font-weight: bolder;
}
.header .header-1 .icon a:hover{
    color: var(--green);
}
#btn-icon{
    display: none;
}
.header .header-2.active{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
.header .header-2{
    background:var(--green);
}
.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding: 15px;
    font-size: 15px;
}
.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}
.btn-navbar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background: var(--green);
    text-align: center;
    display: none;
    padding: 10px 0;
}
.btn-navbar a{
    font-size: 22px;
    padding: 10px 15px;
    color: #fff;
}
.btn-navbar a:hover{
    background: var(--dark-color);

}
/* login */
.login-form-container.active{
    right: 0;
}
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}
.login-form-container form{
    width: 400px;
    border: var(--border);
    padding:20px;
    box-shadow: var(--box-shaadow);
    margin: 15px;
    border: .5rem;
}
.login-form-container form h2{
    text-transform: uppercase;
    color: var(--black);
    font-size: 25px;
    text-align: center;
}
.login-form-container form span{
    font-size: 15px;
    padding-top: 10px;
    display: block;
}
.login-form-container form .box{
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
    color: var(--black);
    text-transform: none;
}
.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
}
.login-form-container .checkbox label{
    color: var(--light-color);
    cursor: pointer;
    font-size: 12px;
}
.login-form-container form .btn{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.login-form-container form p{
    color: var(--light-color);
    padding: 8px ;
    font-size: 12px;
}
.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}
#login-close{
    color:#fff;
    padding: 5px 11px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bolder;
    border: 2px solid #ccc;
    background: var(--dark-color);
    width: fit-content;
    cursor: pointer;
}
/*home  */
.home{
    background: url('../img/stand.webp') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}
.home .row{
    min-height:100vh ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.home .row .content{
    flex: 1 1 100px ;
}
.home .row .box-slider{
    flex: 1 1 100px;
    text-align: center;
    margin-top: 25px;
}
.home .row .box-slider a img{
    height: 150px;
    margin: 5px;
}
.home .row .box-slider a:hover img{
    transform: scale(.9);
}
.home .row .box-slider .stand{
    width: 80%;
    margin-top: -15px;
}
.home .row .content h3{
    color: var(--black);
    font-size: 35px;
}
.home .row .content p{
    color: var(--light-color);
    font-size: 15px;
    line-height: 2;
    padding: 10px 0;
}
/* icons-container */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 10px;
    margin: 15px auto;
}
.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 0px;
}
.icons-container .icons .icon{
    font-size: 25px;
    color: var(--green);
}
.icons-container .icons h3{
    font-size: 18px;
    color: var(--black);
    padding-bottom: 5px;
}
.icons-container .icons p{
    font-size: 12px;
    color: var(--light-color);
}
/* featured */
.featured{
    margin: 100px auto;
}
.featured .featured-slider .box{
    width: 150px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}
.featured .featured-slider .box:hover{
    border: var(--border-hover);
}
.featured .featured-slider .box .image{
    padding: 10px;
    background: linear-gradient(15deg,#eee 30%,#fff 30.1%);
}
.featured .featured-slider .box .image img{
    height: 175px;
    margin-top: 18px;
}
.featured .featured-slider .box .icon{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}
.featured .featured-slider .box .icon a{
    color: var(--black);
    font-size: 20px;
    padding: 2px 10px;
}
.featured .featured-slider .box .icon a:hover{
    background: var(--green);
    color: #fff;
}
.featured .featured-slider .box .content{
    background: #eee;
    padding: 12px;
}
.featured .featured-slider .box .content h3{
    color: var(--black);
    font-size: 12px;
}
.featured .featured-slider .box .content .price{
    font-size: 15px;
    color: var(--black);
    padding-top: 5px;
}
.featured .featured-slider .box .content .price span{
    font-size: 10px;
    color: var(--light-color);
    text-decoration: line-through;
}
.swiper-button-next,
.swiper-button-prev{
    color: var(--green);
    background: #fff;
    border:var(--border-hover);
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    color: #fff;
    background: var(--black);
}
/* newsletter */
.newsletter{
    background: url("../img/letter.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.newsletter form{
    max-width: 250px;
    margin: 0 auto ;
    text-align: center;
    padding: 57px 0;
}
.newsletter form h3{
    font-size: 15px;
    color: #fff;
    padding-bottom:10px ;
    font-weight: normal;
}
.newsletter form .box{
    width: 100%;
    margin: 4px 0;
    padding: 5px 7px;
    color: var(--black);
    font-size: 12px;
    text-transform: none;
    border: var(--border);
    border-radius: 10px;
}
/* arrivale */
.arrivale{
    padding: 25px 0;
}
.arrivale .arrivale-slider .box{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 12px 7px;
    border: var(--border);
    margin: 7px 0;
}
.arrivale .arrivale-slider .box:hover{
    border: var(--border-hover);
}
.arrivale .arrivale-slider .box .image img{
    height: 80px;
}
.arrivale .arrivale-slider .box .content h3{
    font-size: 18px;
    color: var(--black);
}
.arrivale .arrivale-slider .box .content .price{
    font-size: 22px;
    color: var(--black);
    padding-bottom: 4px;
}
.arrivale .arrivale-slider .box .content .price span{
    font-size: 15px;
    color: var(--light-color);
    text-decoration: line-through;
}
.arrivale .arrivale-slider .box .content .stars{
    font-size: 15px;
    color: var(--green);
}
/* deal */
.deal{
    background: #f3f3f3;
}
.deal-con{
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}
.deal .content{
    flex: 1 1 150px ;
}
.deal .content h3{
    color: var(--green);
    font-size: 17px;
    padding-bottom: 10px;
}
.deal .content h1{
    color: var(--black);
    font-size: 30px;
    padding: 10px 0 ;
}
.deal .content p{
    color: var(--light-color);
    font-size: 12px;
    line-height: 2;
}
.deal .image{
    flex: 1 1  150px;
}
.deal .image img{
    width: 100%;
}
/* reviews */
.reviews .heading{
    padding: 25px 0;
}
.reviews{
    padding: 25px 0;
}
.reviews .reviews-slider .box{
    width: 250px;
    border: var(--border);
    padding: 12px;
    text-align: center;
    padding: 25px 0;
}
.reviews .reviews-slider .box:hover{
    border: var(--border-hover);
}
.reviews .reviews-slider .box img{
    height: 35px;
    width: 35px;
    border: 50%;
    object-fit: cover;
}
.reviews .reviews-slider .box h3{
    font-size: 15px;
    color: var(--black);
    padding: 5px 0;
}
.reviews .reviews-slider .box p{
    font-size: 12px;
    color: var(--light-color);
    padding: 5px 0;
    line-height: 2;
}
.reviews .reviews-slider .box .stras{
    color: var(--green);
    font-size: 15px;    
}
/* blogs */
.blogs .blogs-slider .box{
    margin: 10px 0;
    width: 250px;
    border: var(--border);
}
.blogs .blogs-slider .box:hover{
    border: var(--border-hover);
}
.blogs .blogs-slider .box .content{
    padding: 15px;
}
.blogs .blogs-slider .box .content h3{
    font-size: 20px;
    color: var(--black);
}
.blogs .blogs-slider .box .content p{
    font-size: 15px;
    color: var(--light-color);
    padding: 5px 0;
    line-height: 2;
}
.blogs .blogs-slider .box .image{
    height: 150px;
    width: 100%;
    overflow: hidden;
}
.blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
}
/* footer */
/* .footer{

} */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 10px;
}
.footer .box-container .box h3{
    font-size: 15px;
    color: var(--black);
    padding: 7xp 0;    
}
.footer .box-container .box a{
    display: block;
    font-size: 10px;
    color: var(--light-color);
    padding: 10px 0;
}
.footer .box-container .box a .ion-icon{
    color: var(--green);
    padding-right: 5px;
    
}
.footer .box-container .box a:hover .ion-icon{
    padding-right: 15px;
}
.footer .share {
    padding: 10px 0;
    text-align: center;
}
.footer .share a{
    height: 30px;
    width: 30px;
    line-height: 5;
    font-size: 20px;
    color: #fff;
    background-color: var(--green);
    margin: 0 3px;
    border-radius: 50%;
    padding:  10px 11px ;
}
.footer .share a:hover{
    background: var(--black);
}
.footer .credit{
    border-top: var(--border);
    margin-top: 10px;
    padding: 15px 7px;
    padding-bottom: 45px;
    font-size: 15px;
    color: var(--light-color);
    text-align: center;
}
.footer .credit span{
    color: var(--green);
}
.loader-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
    background: #f7f7f7;
}
.loader-container.active{
    display: none;
}
.loader-container img{
    height: 70px;
}















@media (max-width:991px){

    html{
        font-size: 55.5%;
    }
    .header .header-1{
        padding: 10px;
    }
    section{
        padding: 3px 5px;
    }
}
@media (max-width:768px){
    
    .header .header-1{
        box-shadow:var(--box-shaadow);
        position: relative;
    }
    .btn-navbar{
        display: block;
    }
    .header .header-2{
        display: none;   
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        width: 90%;
        box-shadow: var(--box-shaadow);
        margin-top: 10px;
    }
    #btn-icon{
        display: inline-block;
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }
    .row{
        width: 100%;
    }
    .home .row {
        margin: 25px 0;
        display: block;
    }
    .home .row .content{
        text-align: center;
        display: block;
        width: 100%;
    }
    .home .row .content h3{
        font-size: 25px;
    }
    .home .row .box-slider{
        display: block;
        width: 100%;
    }
    .icons-container{
        display: block;
    }
    .newsletter {
        padding: 25px 0;
    }
    .newsletter form{
        width: 100%;
    }
    .deal-con{
        display: block;
    }
    .deal .image{
        padding: 25px 0;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .header .header-1{
        padding: 10px;
    }
}

